[submodule "submodules/spikeinterface"]
	path = submodules/spikeinterface
	url = git@github.com:ryoiwata/spikeinterface.git
[submodule "mountainsort_examples"]
	path = mountainsort_examples
	url = git@github.com:ryoiwata/mountainsort_examples.git
